<div>
    <h3>Create an Advance Request</h3> 

    <p>In this Document, employee’s can create a cash advance request for work related expenses. These advances can be later settled against expenses by submitting expense claims. If the advance amount received is more than what could be spent on the trip then the balance amount should be returned.
       The advance amount can be requested in any currency, but the accounting will record corresponding company currency amounts</p>
    <p><span style="color: red;">**</span>Advances not settled against expenses by employee will be deducted from salary after a certain time period</p>
        The Expense Category Available currently are:
        <ul>
            <li> <b>Business Expense Local -:</b>  General expenses by employees for day to day business like food, fuel, phone bills (within the office city )</li>
            <li> <b>Business Expense Outstation -:</b> Expenses related to Travels outside of bangalore. These are expenses against planned travels, either national or international.  </li>
            <li> <b>Employee Engagement Expense -:</b>  Claims against HR policies , like “Celebrating You”/“Fuel your Mind and Body” </li>
            <li> <b>Office Maintenance and Admin Expense -:</b>  Expenses related to office maintenance and admin. This is not relevant for most employees except those taking part in office maintenance and related activities.</li>
        </ul>
        <br>
        <p><span style="color: red;">**</span>If Expense Category is <b>“Business Expense Outstation”</b> then employee has to mandatorily select a “Travel Request Id” in the form. If you do not know the “Travel Request Id”  or it is not created, you can get it created by the Office Admin Team. (Pavitra/ Didarul). 
        <br>
        <p>Approvers are auto filled based on organisation hierarchy.</p>
        <br>
        <p>Once you review it, you need to click on the “Send for Approval”  button at the top to submit the expense claim </p>
        <b>Payment</b>
        <p>Once the status reaches Pending Payment after all the approvals, Finance team can click on Create -> Payment, which will redirect to create a payment entry. Depending on the currency selected, complete the payment entry and submit. Partial payment is not supported, full sanctioned amount has to be completed.
           Note that even though non INR payments might have happened on the ground, system will record it as INR payment to the employee. Make sure to use same exchange rate as is present in employee advance.</p>
        <b>Return</b>
        <p>If any advance given is not utilised or partially utilised then a return entry can be created by the finance team after receiving money from the same. For this purpose on clicking Create -> Return user will be redirected to Journal Entry. Partial return is not supported, all the unclaimed amount has to be returned in one journal entry. Similar to payment entry finance team will have option to add multi currency journal entry with exchange gain loss</p>
        <b>Important Fields</b>
        <p>
            <ul>
                <li><b>From Date, To Date: </b> Days for which advance is requested. This is asked because there is a per day limit on how much can be given as an advance in HR policy</li>
                <li><b>Currency, Exchange rate: </b> If currency is same as company currency then exchange rate is not required. Else it is required. Finance team can change the exchange rate when the actual payment happens in requested currency</li>
                <li><b>Approver: </b> Approver is auto selected by the system based on organisation hierarchy</li>
                <li><b>Override Per Day Amount: </b> Flag available for the approver to Override per day amount restriction</li>
                <li><b>Advance Requested: </b> Amount requested by the employee in selected currency</li>
                <li><b>Advance Amount Sanctioned In User Currency: </b> Amount approved by the manager/hr/admin in selected currency</li>
                <li><b>Paid Amount: </b> Amount paid by finance. This should be equal to amount sanctioned. Even though payment is recorded in INR, in employee advance it will be recorded as user selected currency</li>
                <li><b>Claimed Amount: </b> Amount claimed by employee by getting their expense claims approved</li>
                <li><b>Returned Amount: </b> Amount returned by employee if the full advance amount could not be utilised</li>
            </ul>
        </p>
        <h4><b>Some Important Points to keep in Mind</b></h4>
        <p>On an Employee Level, Once he/she clicks on <b>“Send for Approval”</b> the expense claim will be shared to the approver and you will get a popup stating document shared successfully.  And the Status field will be updated from <b>Draft</b> to <b>“Pending approval”</b>. It is employee's responsibility to get the expense claim approved by your manager/skip manager as selected by the system. </p>
</div>