<div>
    <h3>Fields and Approval Flow Information</h3> 
    
    <p>Employee while creating can employee advance will have to select Expense Category.<p>

    The Expense Category Availabe are:
    <ul>
        <li> Business Expense Local </li>
        <li> Business Expense Outstation </li>
        <li> Employee Engagement Expense </li>
        <li> Office Mantainence and Admin Expense </li>
    </ul>
    There are some rules based on the Expense Category Employee selects
    <p>If Expense Category is <b>Business Expense Outstation</b> then employee has to select a Make my trip(MMT) record if the record is not present then employee has to create first and then use it in make my trip</p>
    <p>For rest of the Expense Category there MMT record should not be attached or else an error will be thrown </p>
    once an employee save then depending upon the advance amount he has filled then the approver will be pre filled.
    <p>Employee can select in which currency it can request employee advance, By default currency is <b>INR</b></p>

    <h2><b>Some Important Points to keep in Mind</b></h2>
    <p>On an Employee Level, Once he clicks on approve the employee advance will be shared to the approver and you will get a popup stating document shared succesfully. But still the status will be visible to you will be on Draft state.</p> 
    <p>If someone wants to verify wheather the document is which state then you can check the status field at the bottom</p>
        <ul>
            <li>Draft - At Employee Level</li>
            <li>Pending Approval - At Manager Level</li>
            <li>Pending Approval By Admin L2 - At Office Admin Level</li>
            <li>Pendint Payment - At the Finance payment state</li>
        </ul>


    <p><b>1. Employee creates an advance request with the amount he needs and Depending upon the amount either Manager L1 or L2 will be prefilled.</b></p>
    <p><b>2. Manager either approves or cancels the request. He can also change the sanctioned amount and make it less than or equal to the claimed amount.</b></p>
    <p><b>3. Once The Manager Approvers it will go to the Admin L2 stage. where it can approve or cancel the request.</b></p>
    <p><b>4. All the Admin l2 approved requests will be paid by the finance team either by CASH or CMS. (Finance team cannot cancel before or after payment), Partial Payments are not supported.</b></p>
</div>