<div>
    <h3>Create an Advance Request</h3> 

    <p>In this Document, employee’s can create a cash advance request for work related expenses.  The process for requesting cash advances is similar to employee expense claims. These advances will be later settled against expenses by submitting expense claims. </p>
    <p><span style="color: red;">**</span>Advances not settled against expenses by employee will be deducted from salary after a certain time period</p>
    <p> If you have received any cash advances for a specific purpose (Travel, stay etc) , you can settle the cash advances against the expense as well.</p>
        The Expense Category Available currently are:
        <ul>
            <li> <b>Business Expense Local -:</b>  General expenses by employees for day to day business like food, fuel, phone bills (within the office city )</li>
            <li> <b>Business Expense Outstation -:</b> Expenses related to Travels outside of bangalore. These are expenses against planned travels, either national or international.  </li>
            <li> <b>Employee Engagement Expense -:</b>  Claims against HR policies , like “Celebrating You”/“Fuel your Mind and Body” </li>
            <li> <b>Office Maintenance and Admin Expense -:</b>  Expenses related to office maintenance and admin. This is not relevant for most employees except those taking part in office maintenance and related activities.</li>
        </ul>
        <br>
        <p><span style="color: red;">**</span>If Expense Category is <b>“Business Expense Outstation”</b> then employee has to mandatorily select a “Travel Request Id” in the form. If you do not know the “Travel Request Id”  or it is not created, you can get it created by the Office Admin Team. (Pavitra/ Didarul). 
        <br>
        <p>Approvers are auto filled based on organisation hierarchy.</p>
        <br>
        <p>Once you review it, you need to click on the “Send for Approval”  button at the top to submit the expense claim </p>
        <h2><b>Some Important Points to keep in Mind</b></h2>
        <p>On an Employee Level, Once he/she clicks on <b>“Send for Approval”</b> the expense claim will be shared to the approver and you will get a popup stating document shared successfully.  And the Status field will be updated from <b>Draft</b> to <b>“Pending approval”</b>. It is your responsibility to get the expense claim approved by your manager/skip manager as selected by the system. </p>
</div>