<div>

    For Reimbursement Flow(Expense Claim): 

    Flow:
    There are two flows involved in Reimbursement based on these broad categories.
    Business Expenses Local: Flow 1
    Business Expenses Out-station: Flow 1
    Office maintenance and Admin Expenses: Flow 1
    Employee Engagement Expense (Eg: Fuel your Mind): Flow 2

    Flow1:
    Employee creates an Expense Claim request with the amount he needs and Depending upon the amount either Manager L1 or L2 will be prefilled.
    Any advances paid and un-utilised for the employee will be auto tagged to this expense claim.
    Manager either approves or cancels the request. He can also change the sanctioned amount and make it less than or equal to the claimed amount.
    Admin L1 can  edit the sanctioned amount and either approves or cancels the request.
    Admin L2 can  edit the sanctioned amount and either approves or cancels the request.
    All the Admin L2 approved requests will be paid by the finance team either by CASH or CMS. (Finance team cannot cancel before or after payment), Partial Payments are not supported.
    Expense claims once paid cannot be cancelled by anyone.
    Flow2:(employee engagement expenses)
    Employee creates an Expense Claim request with the amount he needs and Depending upon the amount either Manager L1 or L2 will be prefilled.
    Any advances paid and un-utilised for the employee will be auto tagged to this expense claim.
    Manager either approves or cancels the request. He can also change the sanctioned amount and make it less than or equal to the claimed amount.
    HR L1 either approves or cancels the request.
    HR L2 either approves or cancels the request.
    All the HR L2 approved requests will be paid by the finance team.
    Expense claims once paid cannot be cancelled by anyone
</div>